@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-image:   url(images/carbon.png);
}

h1{
    background-color: transparent;

}
img{width: 100;
    margin:1px auto;
    display: block;

}

image{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;
}
/* # refence an ID attribute in Html*/
#atomImg{
    width: 80%;
}
.gifanimations{
    width: 80%;
}

video{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;

}
